<footer class="mt-auto text-center py-3 text-gray-200 text-sm">
  <span>created by</span>
  <a class="font-bold hover:text-red-200" href="https://github.com/mojotron/inventory-application" target="_blank" rel="noopener noreferrer">@mojotron</a>
</footer>