<footer class="mt-auto text-center py-8 text-poor text-sm">
  <span>created by</span>
  <a class="hover:text-gold" href="https://github.com/mojotron/inventory-application" target="_blank" rel="noopener noreferrer">@mojotron</a>
</footer>