<header
  class="w-full py-8 px-10 flex flex-col items-center gap-4 sm:flex-row sm:justify-start sm:items-end sm:gap-8"
>
  <div>
    <h1
      class="font-display font-bold text-5xl text-gray-200 uppercase tracking-wide"
    >
      Inventory Manager
    </h1>
    <p class="text-gray-200 font-sans text-lg">keep track of your storage</p>
  </div>

  <nav class="font-sans font-bold text-gray-200">
    <ul class="flex items-center">
      <a
      href="/"
        class="text-<%= activePage == "home" ? "legendary" : "gray-200" %> px-2 py-0.5 cursor-pointer hover:text-gray-800 hover:bg-gray-200"
        ><li>home</li></a
      >
      <a
      href="/inventory"
        class="text-<%= activePage == "inventory" ? "legendary" : "gray-200" %> px-2 py-0.5 cursor-pointer hover:text-gray-800 hover:bg-gray-200"
        ><li>inventory</li></a
      >
      <a
      href="/about"
        class="text-<%= activePage == "about" ? "legendary" : "gray-200" %> px-2 py-0.5 cursor-pointer hover:text-gray-800 hover:bg-gray-200"
        ><li>about</li></a
      >
    </ul>
  </nav>
</header>
