<header
  class="w-full p-4 flex flex-col items-center gap-1 sm:flex-row sm:justify-start sm:items-end sm:gap-8"
>
  <div>
    <h1
      class="font-display font-bold text-xl sm:text-2xl text-black uppercase"
    >
      Inventory Manager
    </h1>
    <p class="text-gray-200 font-sans font-thin text-lg">keep track of your storage</p>
  </div>

  <nav class="font-sans text-gray-200 font-bold">
    <ul class="flex items-center gap-2">
      <a
      href="/"
        class="<%= activePage == "home" ? "text-red-200" : "text-gray-200" %> cursor-pointer hover:text-red-500"
        ><li>home</li></a
      >
      <a
      href="/inventory"
        class="<%= activePage == "inventory" ? "text-red-200" : "text-gray-200" %> cursor-pointer hover:text-red-500"
        ><li>inventory</li></a
      >
      <a
      href="/about"
        class="<%= activePage == "about" ? "text-red-200" : "text-gray-200" %> cursor-pointer hover:text-red-500"
        ><li>about</li></a
      >
    </ul>
  </nav>
</header>
