extends layout.pug 
block content 
  h2.font-display.font-bold.text-5xl !{categoryName}

  form(action="" method="POST").my-4.flex.flex-col.items-center.gap-4
    select(name="categoryName").text-gold-500.font-bold.w-full.px-4.py-2.bg-gray-800.rounded-md.border.border-poor.tracking-wider.outline-none.focus_ring.focus_ring-gold-500
      each item in categoryOptions
        option(value= item) #{item} 
    
    
    if errors.length 
      ul.space-y-2  
        for error in errors
          li.text-error.border.border-error.px-6.py-1.rounded-md !{error.msg}

    button(type="submit").my-4.border.border-gray-200.rounded-md.px-4.py-1.font-display.font-bold.text-2xl.tracking-wider.hover_bg-gold-500.hover_text-gray-900.hover_border-gray-900.transition-all.duration-150 create 
