extends layout 
block content 
  h2.font-display.font-bold.text-5xl.text-error we encountered error 
  p.text-bold.text-2xl.text-error !{message}
  a(href="/").cursor-pointer.hover_underline.hover_text-gold-500.text-lg Return to home page
