doctype html 
html(lang="en")
  head 
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Inventory Application
    style 
      include ../public/styles/main.css
    
  body.p-3.sm_p-10.flex.flex-col.items-center.gap-6.bg-gray-900.font-sans.text-gray-200.min-w-screen.min-h-screen
    a(href="/")   
      h1.font-display.uppercase.font-bold.text-6xl.text-center.mb-4 Item Inventory 
    
    if categories
      nav
        ul.flex.items-center.gap-4
          each category in categories
            li.font-display.tracking-widest.text-2xl 
              a(href=`/inventory/${category}`).hover_underline.hover_text-gold-500 #{category} 

    section.w-full.flex.flex-col.items-center.gap-4 
      block content


    footer.mt-auto.text-center.pt-16
      span created by 
      a(href="https://github.com/mojotron/inventory-application" target="_blank" rel="noopener noreferrer").hover_text-gold-500 @mojotron

    block scripts