extends layout 
block content
  section.px-8.py-16.flex.flex-col.items-center.justify-center.gap-y-4.border-2.border-poor.rounded-md
    h1.font-bold.font-display.text-5xl 404 page not found 
    p.text-2xl Resources you are looking do not exist! 
    a(href="/").text-xl Return to home page