<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Inventory | CRUD app</title>
  </head>
  <body
    class="min-w-[100vw] min-h-[100vh] flex flex-col items-center bg-gray-800"
  >
    <%- include("../partials/header.ejs", {activePage: "inventory"}) %>
    <!--  -->
    <main class="w-full px-10">
      <h2>Edit Categories</h2>
      <div>
      </div>
      <a href="/inventory/categories/new">Add new Category</a>
      <ul>
      
      </ul>
    </main>
    <!--  -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
