<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Inventory | CRUD app</title>
  </head>
  <body class="min-w-[100vw] min-h-[100vh] bg-gray-900">
    <h1 class="text-gray-200">Hello</h1>
  </body>
</html>
